<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ тревожности</title>
    <!-- Подключаем стили -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Анализ тревожности</h1>
    <form id="analyzeForm">
        <textarea id="textInput" placeholder="Введите текст для анализа"></textarea>
        <button type="submit">Анализировать</button>
    </form>
    <div id="result"></div>
    

    <!-- Подключаем JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>

